.main-page {
  display: grid;

  // grid-template-columns:[pile-start-column] minmax(22.6rem,1fr)
  // [pile-end-column play-area-start-column] minmax(50vw,2fr)
  // [play-area-end-column deck-start-column] minmax(22.6rem,1fr)  [deck-end-column];

  grid-template-columns:
    [full-start] minmax(6rem, 1fr)
    [center-start] repeat(8, [col-start] minmax(min-content, 14rem) [col-end])
    [center-end]
    minmax(6rem, 1fr) [full-end];

  grid-template-rows:  repeat(1fr,min-content) ;

  // @media only screen and (max-width: $bp-largest) {
  //   grid-template-columns:
  //     [full-start] 2rem
  //     [center-start] repeat(
  //       8,
  //       [col-start] minmax(min-content, 1fr) [col-end]
  //     ) [center-end]
  //     2rem [full-end];
  // }

  &__header {
    grid-column: center-start/center-end;
    margin-top: 1rem;
  }

  &__body {
    grid-column: center-start/center-end;
    // grid-row: max-content;
    grid-row: 3;
    height: 84vh;
    
  }
}

.banner {
  grid-column: full-start/full-end;
  grid-row: 1;
  background-color: $banner-footer-color;
  height: 8vh;

  @media only screen and (max-width: $bp-hei-small) {
    height:3vh;
  }
}

.footer {
  grid-column: full-start/full-end;
  grid-row: 1000;
  background-color: $banner-footer-color;
  height: 8vh;

  @media only screen and (max-width: $bp-hei-small) {
    display: none;
  }
}
